<div class="row post-item">
    <div class="one-third column">
        <h4 class="post-name">{{mname}}</h4>
    </div>
    <div class="two-thirds column">
        <div>
            <a href="/machine/{{id}}" class="button">view comments</a>
            <button>view highscores</button>
        </div>
    </div>
</div>