<div class="comments">
    {{!-- <p class="commentor-name">{{email}}</p> --}}
    <p class="comment-text">{{comment}}</p>
    <input type="hidden" id="comment-id" name="comment-id" value="{{id}}"/> 
    <button id="deleteCommentBtn">Delete Comment</button>      
</div>