<div class="comments">
    {{!-- <p class="commentor-name">{{fname}}</p> --}}
    <p class="comment-text">{{comment}}</p>
    <input type="hidden" id="comment-id" name="comment-id" value="{{id}}"/>
    {{!-- {{#if logged_in}} --}}
    <button class="deleteCommentBtn">Delete Comment</button>
    {{!-- {{/if}} --}}
</div>