<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pindemonium</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Train+One&family=Workbench&display=swap" rel="stylesheet">
</head>

<body class="body">
    <header class="header row">
        {{#if logged_in}}
        <div class="two columns">
            <a href='/' class="button hbutton">Home</a>
            <a href='/profile' class="button hbutton">My Profile</a>
        </div>
        {{else}}
        <div class="two columns">
            <a href='/login' class="button hbutton login-button" id="loginBtn">Login</a>
        </div>
        {{/if}}
        <div class="eight columns header-text">
            <h1>PinDemonium</h1>
            <h5>Your personal pinball headquarters</h5>
        </div>
        {{#if logged_in}}
        <div class="two columns">
            <button class="login-button hbutton" id="logout">Logout</button>
        </div>
        {{else}}
        <div class="two columns">

        </div>
        {{/if}}
        
        
    </header>
    <!-- this is where handlebars will change stuff -->
    <main class="row main">
        {{{body}}}
    </main>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
    {{!-- <script src="/js/login.js"></script> --}}
</body>
</html>