<div class="container">
        <h2>Login Form</h2>
        <form action="" method="post">
            <label for="email">Username (Email):</label>
            <input type="text" id="email" name="email" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <input type="submit" id="login" value="Login">
        </form>
</div>

<div class="container">
        <h2>Signup Form</h2>
        <form action="" method="post">
            <label for="first-name">First Name:</label>
            <input type="text" id="first-name" name="first-name" required>
            <label for="last-name">Last Name:</label>
            <input type="text" id="last-name" name="last-name" required>
            <label for="email">Username (Email):</label>
            <input type="text" id="email-signup" name="email-signup" required>
            <label for="password">Password:</label>
            <input type="password" id="password-signup" name="password-signup" required>
            <br>
            <input type="submit" id="signup" value="Signup">
        </form>
</div>