<div class="container">
    <button id="addMachineBtn">Add a machine</button>
    <button>Delete machine</button>
    <button>New Highscore</button>
</div>
<div class="row" id="addMachine" style="display: none;">
    <div class="one-half column">
        <h5>Add a Machine</h5>
        <form id="addMachineForm">
            <label for="machineName">Machine Name</label>
            <input type="text" id="machineName" name="machineName" required/>
            <br>
            <input type="submit" value="Submit"/>
        </form>
    </div>
</div>
<div class="row">
    <div class="one-half column">
        <h4>Your highscores</h4>
        {{#each Highscores as |highscore|}}
        {{> user-Highscores}}
        {{/each}}
        {{!-- <div class="post-item">
            <div class="post-text-box">
                <h5>Machine name</h5>
                <p>30,250</p>
                <img class="post-img" src="./public/images/320x200-placeholder.png" alt="placeholder Image">
            </div>
        </div> --}}
    </div>
</div>

<script src="/js/addMachine.js"></script>